p {
    text-wrap: wrap;
    text-align: center;
    font-size: large;
}

.designs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
img {
        width: 30%;
        height: 20%;
    }
}

img {
    width: 50%;
    height: auto;
}
