p {
    text-wrap: wrap;
    /*text-align: center;*/
    font-size: large;
}

h1 {
    text-wrap: wrap;
    text-align: center;
    font-size: large;
    font-size: 45px;
}

h2 {
    text-wrap: wrap;
    text-align: center;
    font-size: large;
    font-size: 30px;
}

li {
    text-wrap: wrap;
/*     text-align: center;*/
    font-size: large;
}

.scaling {
    font-size: 25px;
}

.designs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

img {
    width: 30%;
    height: 30%;
}
