p {
    text-wrap: wrap;
    text-align: center;
    font-size: large;
}

.designs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
img {
        width: 20%;
        height: 15%;
    }
}

img {
    width: 70%;
    height: auto;
}

.floorplan {
    display: block;
    margin-left: auto;
    margin-right: auto;
}