p {
    text-wrap: wrap;
    text-align: center;
    font-size: large;
}

.designs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

img {
    width: 55%;
    height: 55%;
}

.references {
    /* display: flex;
    flex-flow: row wrap;
    justify-content: center; */
    width: 70%;
    height: 70%;
}